# Sakila (Core)

Student: Kris Barbier

## Sakila Database ERD
![png](sakila-db-model.png)

## Import mypySQL and SQLAlchemy

In [1]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
username = "root"
password = quote_plus("Myp@ssword!") # Using the quote function to make the password compatible
db_name = "sakila"

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Music!Lover*59" # (whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [4]:
#Run query to make sure it connected
import pandas as pd
q = """SELECT * FROM film;"""
pd.read_sql(q, engine)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-14 13:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-14 13:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-14 13:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-14 13:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-14 13:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-14 13:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-14 13:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-14 13:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42

## Queries

### Query 1: 
1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

### Query 2:
2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

### Query 3:
3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

### Query 4:
4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

### Query 5:
5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

### Query 6:
6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.